/安徽省胸科医院/复苏/源代码/.nuget
/安徽省胸科医院/复苏/源代码/.vs
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.AppPC/obj
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.AppPC/bin
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.CustomProject/obj
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.CustomProject/bin
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.FrameWork/obj
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.FrameWork/bin
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.Repository/obj
/安徽省胸科医院/复苏/源代码/Client/MedicalSystem.Anes.Client.Repository/bin
/安徽省胸科医院/复苏/源代码/Libraries/MedicalSystem.Anes.Document/obj
/安徽省胸科医院/复苏/源代码/Libraries/MedicalSystem.Anes.Document/bin
/安徽省胸科医院/复苏/源代码/Libraries/MedicalSystem.Anes.Domain/obj
/安徽省胸科医院/复苏/源代码/Libraries/MedicalSystem.Anes.Domain/bin
/安徽省胸科医院/复苏/源代码/packages
/安徽省胸科医院/接口/NET_DLL_V5/.vs
/安徽省胸科医院/接口/NET_DLL_V5/bin
/安徽省胸科医院/接口/NET_DLL_V5/InterFaceDLLv4/obj
/安徽省胸科医院/接口/NET_DLL_V5/InterFaceDLLv4/bin
/安徽省胸科医院/接口/NET_DLL_V5/InterFaceTestForm/obj
/安徽省胸科医院/接口/NET_WS_V5/packages
/安徽省胸科医院/接口/NET_WS_V5/.vs
/安徽省胸科医院/接口/NET_WS_V5/BLL/obj
/安徽省胸科医院/接口/NET_WS_V5/BLL/bin
/安徽省胸科医院/接口/NET_WS_V5/DAL/obj
/安徽省胸科医院/接口/NET_WS_V5/DAL/bin
/安徽省胸科医院/接口/NET_WS_V5/DocareInterfaceV5/obj
/安徽省胸科医院/接口/NET_WS_V5/DocareInterfaceV5/bin
/安徽省胸科医院/接口/NET_WS_V5/InitDocare/obj
/安徽省胸科医院/接口/NET_WS_V5/InitDocare/bin
/安徽省胸科医院/接口/NET_WS_V5/Model/obj
/安徽省胸科医院/接口/NET_WS_V5/Model/bin
/安徽省胸科医院/一体机/源代码/packages
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.CustomProject/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.CustomProject/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.Document/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.Document/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.FrameWork/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.Anes.FrameWork/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.DataServices/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.DataServices/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Domain/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Domain/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.KeyBoard/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.KeyBoard/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Model/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Model/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Service.WebApi/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Service.WebApi/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.View/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.View/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.ViewModel/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.ViewModel/bin
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Wpf/obj
/安徽省胸科医院/一体机/源代码/src/MedicalSystem.AnesWorkStation.Wpf/bin
/安徽省胸科医院/一体机/源代码/src/Score/obj
/安徽省胸科医院/一体机/源代码/src/Score/bin
