<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common" />
    <section name="medicalDocSetting" type="MedicalSystem.Anes.Document.Configurations.MedicalDocSection, MedicalSystem.Anes.Document" />
  </configSections>
  <connectionStrings>
    <add name="docareConnString" connectionString="Data Source=docare;Persist Security Info=True;User ID=medsurgery;Password=medsurgery" providerName="System.Data.OracleClient" />
    <add name="PermissionConnString" connectionString="Data Source=docare;Persist Security Info=True;User ID=medcomm;Password=medcomm" providerName="System.Data.OracleClient" />
    <add name="ChargeConnString" connectionString="Data Source=docare;Persist Security Info=True;User ID=medcomm;Password=medcomm" providerName="System.Data.OracleClient" />
    <add name="docareConnString5.0" connectionString="Data Source=docare;Persist Security Info=True;User ID=medsurgery;Password=medsurgery" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogUpdateAddress" value="D:\PDF\" />
    <add key="PDFUpdateAddress" value="D:\EMR\" />
    <!--服务器日志存放路径-->
    <!--平台-->
    <add key="SecureKey" value="abc1123!@#" />
    <!--内外网是否互通，true:互通   false:不互通  -->
    <add key="NetInterFlow" value="true" />
    <!--前置机内网地址-->
    <add key="FontEndIP" value="http://localhost:34405/" />
    <!--上报质控平台接口地址-->
    <add key="PostQcUri" value="http://115.29.212.122:9019/api/" />
    <!--<add key="PostQcUri" value="http://192.168.18.213:9981/api/" />-->
    <!--上报质控平台省区密钥-->
    <add key="QcScriectKey" value="2f192909-7bde-43f4-ae2d-93ca56fbf68e" />
    <!--上报质控平台省区编号-->
    <add key="ProvincialNo" value="48" />
    <!--文件上传的文件存储地址-->
    <add key="QcUpLoadFileAddress" value="C:\项目\一体机\平台模块化" />
    <!--接口调用地址-->
    <add key="InterFacePath" value="http://localhost:12345/WebService/WebDocare.asmx" />
    <!--跨平台通信的服务端地址，无需添加HTTP，只需IP:端口-->
    <add key="MedicalSystemMessageServerURL" value="localhost:54402/signalr" />
    <!--手术护理文书用户字典表麻醉科室代码-->
    <add key="AnesWardCode" value="303002" />
    <!--手术护理文书用户字典表手术科室代码-->
    <add key="OperDeptCode" value="303001" />

    <!--在数据库中医生角色名-->
    <add key="DoctorUserJob" value="医生" />
    <!--在数据库中护士角色名-->
    <add key="NurseUserJob" value="护士" />
    <!--开启手术排版信息回传OPER501W(HIS202)-->
    <add key="OpenHIS202" value="false" />
    <!--开启手术取消OPER504W(HIS212)-->
    <add key="OpenHIS212" value="false" />
    <!--麻醉5.0登录-->
    <add key="ISFOR5" value="false" />
  </appSettings>
  <mdk>
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <!--收费相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <charge ConnectionName="ChargeConnString" />
    <!--权限相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <permission ConnectionName="PermissionConnString" />
    <!--SQL脚本文件文、格式化配置文件-->
    <xmlDict sqlXml="Config\SQL\Sql-Oracle.xml" dataformatXml="Config\DataFormat.xml" />
  </mdk>
  <system.data>
    <DbProviderFactories>
      <!--系统自带的ORACLE驱动：System.Data.OracleClient-->
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="Oracle Data Provider" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="Oracle Data Provider" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
      <remove invariant="Devart.Data.Oracle" />
      <add name="Devart Data Oracle Data Provider" invariant="Devart.Data.Oracle" description=".Net Framework Data Provider for Devart Data Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle" />
    </DbProviderFactories>
  </system.data>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="None" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="120"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Range" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>