<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="medicalDocSetting" type="MedicalSystem.Anes.Document.Configurations.MedicalDocSection, MedicalSystem.Anes.Document" />
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common" />
  </configSections>
  <connectionStrings>
    <add name="analysisConnString" connectionString="Data Source=Analyser.db3" providerName="System.Data.SQLite" />
  </connectionStrings>
  <medicalDocSetting configSource="DocTemplate\客户化医院\Custom.config" />
  <appSettings>
    <add key="WebApiUri" value="http://localhost:54402/" />
    <add key="WebRequestDocUrl" value="http://localhost:54402/" />
    <!--平台请求查看文书地址-->
    <add key="OperDeptCode" value="303001" />
    <add key="AnesWardCode" value="303002" />
    <add key="OperRoomNo" value="02" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LoginName" value="mdsd" />
    <add key="CameraImageLocalPath" value="C:\\一体机图片\\"/>
    <add key="CameraImageServePath" value="C:\\一体机图片\\"/>
    <!--跨平台通信的服务端地址，无需添加HTTP，只需IP:端口-->
    <add key="MedicalSystemMessageServerURL" value="localhost:54402/signalr" />
  </appSettings>
  <mdk>
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <xmlDict sqlXml="Config\SQL\Sql-Oracle.xml" dataformatXml="\DataFormat.xml" />
    <!--性能分析-->
    <analysis logCount="true" logExec="true" connString="analysisConnString" />
  </mdk>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.14.0" newVersion="5.5.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
