<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务器IP地址-->
    <add key="UpdateIPAddress" value="192.168.18.173"/>
    <!--当前应用系统-->
    <add key="AppName" value="麻醉一体机"/>
    <!--是否自动更新-->
    <add key="AutoUpdate" value="false"/>
    <!--程序版本号-->
    <add key="Version" value="无"/>
    <!--版本发布时间-->
    <add key="UpdateDateTime" value="首次更新"/>
    <!--程序版唯一串号-->
    <add key="FileMd5" value="无"/>
    <!--使用特定版本，为空表示获取新版本-->
    <add key="UseVersion" value=""/>
    <!--是否备份当前版本-->
    <add key="BackVersion" value="false"/>
    <!--自动检测版本间隔(毫秒)，0关闭该功能-->
    <add key="CheckVersionTime" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
