<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--服务器地址-->
    <add key="UpdateIPAddress" value="192.168.18.173" />
    <!--版本更新日志-->
    <add key="UpdateLog" value="检测到有最新版本，请更新版本。" />
    <!--推送模式-->
    <add key="IsSendModel" value="false" />
  </appSettings>
</configuration>