<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--数据库连接字符串-->
    <add name="OracleConnectionString" connectionString="Data Source=by_1;Persist Security Info=True;User ID=medsurgery;Password=medsurgery" providerName="System.Data.OracleClient"/>
    <add name="SqlServerConnectionString" connectionString="Data Source=.;Initial Catalog=docare;Persist Security Info=True;User ID=sa;Password=docare;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
