<?xml version="1.0" encoding="utf-8" ?>
<medicalDocSetting>
  <medicalDocs>
    <add key="麻醉记录单" caption="麻醉记录单" path="DocTemplate\客户化医院\麻醉记录单.xml" type="MedicalSystem.Anes.Client.CustomProject.AnesDoc,MedicalSystem.Anes.Client.CustomProject"/>
   
    <add key="患者交接单" caption="患者交接单" path="DocTemplate\客户化医院\手术患者交接记录单.xml" type="MedicalSystem.Anes.Client.CustomProject.AnesVisitDoc,MedicalSystem.Anes.Client.CustomProject"/>
   
    <add key="复苏记录单" caption="复苏记录单" path="DocTemplate\客户化医院\复苏记录单.xml" type="MedicalSystem.Anes.Client.CustomProject.PACUDoc,MedicalSystem.Anes.Client.CustomProject"/>
   
  </medicalDocs>
  <medicalForms>
    <add key="手术信息" caption="手术信息" path="DocTemplate\客户化医院\手术信息.xml" type="MedicalSystem.Anes.Client.CustomProject.OperationInformation,MedicalSystem.Anes.Client.CustomProject"/>
    <add key="术后登记" caption="术后登记" path="DocTemplate\客户化医院\术后登记.xml" type="MedicalSystem.Anes.Client.CustomProject.RegisterAfterOperation,MedicalSystem.Anes.Client.CustomProject"/>
    <add key="急诊登记" caption="急诊登记" path="DocTemplate\客户化医院\急诊登记.xml" type="MedicalSystem.Anes.Client.CustomProject.EmergencyRegisterDoc,MedicalSystem.Anes.Client.CustomProject"/>
    <add key="会诊登记" caption="会诊登记" path="DocTemplate\客户化医院\会诊登记.xml" type="MedicalSystem.Anes.Client.CustomProject.AnesDoc,MedicalSystem.Anes.Client.CustomProject"/>
  </medicalForms>
</medicalDocSetting>

