@model MedicalSystem.AnesWorkStation.Domain.MED_APP_INFO
@{
    /**/
    ViewBag.Title = "MoidfyView";
    Layout = "~/Areas/UpdateServer/Views/Shared/_Page.cshtml";
}

<div style="width:100%;height:100%;">
    <form id="form" method="post">
        <table class="t2" cellpadding="0">
            <tr>
                <td class="f1">应用程序Key:</td>
                <td>
                    <input id="app_id" type="hidden" name="APP_ID" value="@Model.APP_ID">
                    <input id="app_key" class="easyui-textbox" type="text" name="APP_KEY" data-options="required:true,validType:['englishNumber']" style="width:350px;" value="@Model.APP_KEY">
                </td>
            </tr>
            <tr>
                <td class="f1">应用程序名称:</td>
                <td><input class="easyui-textbox" type="text" name="APP_NAME" data-options="required:true" style="width:350px;" value="@Model.APP_NAME"></td>
            </tr>
            <tr>
                <td class="f1">描述:</td>
                <td><input class="easyui-textbox" name="DESCRIPTION" data-options="multiline:true" style="height:60px;width:350px;" value="@Model.DESCRIPTION"></td>
            </tr>
            <tr>
                <td colspan="2" align="center" class="btn">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="submitForm(this, '/UpdateServer/App/Modify')">保存</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="clearForm(this)">重置</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="closeWin()">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript">
    window.onload = function () {
        if ($("#app_id").val() != '')
            $("#app_key").textbox({ readonly: true })
    }
</script>

