<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BLL.Properties.Settings>
            <setting name="BLL_ZheDaZhongKongWebReference_WSGeneral" serializeAs="String">
                <value>http://115.236.176.100:57772/csp/multi/WebApp.WSGeneral.cls</value>
            </setting>
            <setting name="BLL_ZheDaZhongKongCopyBackWebReference_OperWS"
                serializeAs="String">
                <value>http://192.168.0.125:57772/csp/multi/BS.WS.OperWS.cls</value>
            </setting>
            <setting name="BLL_WebReference_CommService" serializeAs="String">
                <value>http://192.168.0.173/bitcinpbilltestwebservice/commservice.asmx</value>
            </setting>
            <setting name="BLL_DocareInterfaceTest_Service1" serializeAs="String">
                <value>http://192.168.1.230/WebServiceTest/Service1.asmx</value>
            </setting>
            <setting name="BLL_webHis_AnInterface" serializeAs="String">
                <value>http://192.192.10.125/TrakCareECP/web//web.DHCICUSystemInterface.cls</value>
            </setting>
        </BLL.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
