<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common" />
  </configSections>
  <connectionStrings>
    <add name="anesPlatformConn" connectionString="Data Source=192.168.104.223:1522/laifeng;Persist Security Info=True;User ID=MEDQUERY;Password=MEDQUERY" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <mdk>
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <!--麻醉平台相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <anesPlatform WebApiUri="" ConnectionName="anesPlatformConn" />
    <!--SQL脚本文件文、格式化配置文件-->
    <xmlDict sqlXml="Config\SQL\Sql-Oracle.xml" dataformatXml="Config\DataFormat.xml" />

  </mdk>
  <appSettings>
    <!--公共的服务端地址-->
    <add key="WebApiUri" value="http://127.0.0.1/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
