<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="medicalDocSetting" type="MedicalSystem.Anes.Document.Configurations.MedicalDocSection,MedicalSystem.Anes.Document" />
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common" />

  </configSections>
  <medicalDocSetting configSource="DocTemplate\客户化医院\Custom.config" />
  <appSettings>
    <add key="BaseAddress" value="http://localhost:8077/api/" />
    <add key="WebApiUri" value="http://localhost:8077/" />
    <add key="LoginName" value="SSCJ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="HospBranchCode" value="" />
    <add key="AnesthesiaWardCode" value="303002" />
    <add key="OperRoomNo" value="01" />
    <add key="OperRoom" value="02015" />
    <add key="PDF_ServerUrl" value="192.168.18.72" />
    <add key="PDF_LocalUrl" value="E:\PDF\" />
    <add key="PDF_PostDoc" value="" />
    <add key="IsPACUProgram" value="true" />
    <add key="ApplicationPatterns" value="0" />
    <!--0:手术间模式；1:办公室模式-->
    <add key="DefaultMonitorItems" value="188,40,89,90,91,112,92" />
    <!--术中体征显示顺序-->
    <add key="IsModifyVitalSignShowDifferent" value="false" />
    <add key="PromptBeforeExit" value="true" />
    <add key="CustomSettingProvider" value="MedicalSystem.Anes.Client.CustomProject.CustomSetting,MedicalSystem.Anes.Client.CustomProject" />
    <!--锁屏的延迟时间， 30分钟-->
    <add key="ScreenLocker" value="30" />
    <add key="IsSync" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--术中体征显示顺序-->
    <!--跨平台通信的服务端地址，无需添加HTTP，只需IP:端口-->
    <add key="MedicalSystemMessageServerURL" value="localhost:8048/signalr" />
  </appSettings>
  <mdk>
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <!--收费相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <charge ConnectionName="ChargeConnString" />
    <!--权限相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <permission ConnectionName="PermissionConnString" />
    <!--SQL脚本文件文、格式化配置文件-->
    <xmlDict sqlXml="Config\SQL\Sql-Oracle.xml" dataformatXml="Config\DataFormat.xml" />
  </mdk>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
