<?xml version="1.0" encoding="utf-8" ?>
<medicalDocSetting>
  <medicalDocs>
    <!--<add key="麻醉记录单" caption="麻醉记录单" path="DocTemplate\客户化医院\麻醉记录单.xml" type="MedicalSystem.Anes.CustomProject.AnesDoc,MedicalSystem.Anes.CustomProject"/>-->
    <!--<add key="麻醉同意书" caption="麻醉同意书" path="DocTemplate\客户化医院\麻醉同意书.xml" type="MedicalSystem.Anes.CustomProject.AnesAgreementDoc,MedicalSystem.Anes.CustomProject"/>-->
    <add key="输血知情同意书" caption="输血知情同意书" path="DocTemplate\客户化医院\输血知情同意书.xml" type="MedicalSystem.Anes.CustomProject.AnesAgreementDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="术前访视单" caption="术前访视" path="DocTemplate\客户化医院\术前访视.xml" type="MedicalSystem.Anes.CustomProject.AnesVisitDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="术后随访单" caption="术后随访" path="DocTemplate\客户化医院\术后随访单.xml" type="MedicalSystem.Anes.CustomProject.AnesAfterVisiterDoc,MedicalSystem.Anes.CustomProject"/>
    <!--<add key="安全核查表" caption="安全核查表" path="DocTemplate\客户化医院\安全核查表.xml" type="MedicalSystem.Anes.CustomProject.SafetyCheckDoc,MedicalSystem.Anes.CustomProject"/>-->
    <add key="麻醉计划" caption="麻醉计划" path="DocTemplate\客户化医院\麻醉计划.xml" type="MedicalSystem.Anes.CustomProject.AnesPlanDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="镇痛观察" caption="镇痛观察" path="DocTemplate\客户化医院\镇痛观察.xml" type="MedicalSystem.Anes.CustomProject.AnalgesicRecordDoc,MedicalSystem.Anes.CustomProject"/>
   <!-- <add key="复苏记录单" caption="复苏记录单" path="DocTemplate\客户化医院\复苏记录单.xml" type="MedicalSystem.Anes.CustomProject.PACUDoc,MedicalSystem.Anes.CustomProject"/>-->
    <add key="手术风险评估单" caption="手术风险评估单" path="DocTemplate\客户化医院\手术风险评估单.xml" type="MedicalSystem.Anes.CustomProject.RiskAssessmentDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="镇痛记录单" caption="镇痛记录单" path="DocTemplate\客户化医院\镇痛记录单.xml" type="MedicalSystem.Anes.CustomProject.AnalgesicRecordDoc,MedicalSystem.Anes.CustomProject"/>
    <!--<add key="麻醉总结单" caption="麻醉总结单" path="DocTemplate\客户化医院\麻醉总结单.xml" type="MedicalSystem.Anes.CustomProject.AnesSummaryDoc,MedicalSystem.Anes.CustomProject"/>-->
  <!--<add key="手术清点单" caption="手术清点单" path="DocTemplate\客户化医院\手术清点单.xml" type="MedicalSystem.Anes.CustomProject.OperationCheckDoc,MedicalSystem.Anes.CustomProject"/>-->
    <add key="恢复室记录单" caption="恢复室记录单" path="DocTemplate\客户化医院\恢复室记录单.xml" type="MedicalSystem.Anes.CustomProject.AnesAfterVisiterDoc,MedicalSystem.Anes.CustomProject"/>
  <!--<add key="麻醉质控指标单" caption="麻醉质控指标单" path="DocTemplate\客户化医院\麻醉质控指标单.xml" type="MedicalSystem.Anes.CustomProject.AnesQualityControlDoc,MedicalSystem.Anes.CustomProject"/>-->
  <!--  <add key="不良后果告知书" caption="不良后果告知书" path="DocTemplate\客户化医院\不良后果告知书.xml" type="MedicalSystem.Anes.CustomProject.AnesAgreementDoc,MedicalSystem.Anes.CustomProject"/>-->
    <!--<add key="麻醉处方单" caption="麻醉处方单" path="DocTemplate\客户化医院\麻醉处方单.xml" type="MedicalSystem.Anes.CustomProject.AnesChuFangDoc,MedicalSystem.Anes.CustomProject"/>-->

    <add key="麻醉记录单" caption="麻醉记录单" path="DocTemplate\客户化医院\麻醉记录单.xml" type="MedicalSystem.Anes.CustomProject.AnesDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="麻醉总结单" caption="麻醉总结单" path="DocTemplate\客户化医院\麻醉总结单.xml" type="MedicalSystem.Anes.CustomProject.AnesSummaryDoc,MedicalSystem.Anes.CustomProject"/>
    <!--不存在Default0-->
    <add key="术前病例讨论" caption="术前病例讨论" path="DocTemplate\客户化医院\术前病例讨论.xml" type="MedicalSystem.Anes.CustomProject.PreoperativeCaseDiscussion,MedicalSystem.Anes.CustomProject"/>
    <add key="麻醉同意书" caption="麻醉同意书" path="DocTemplate\客户化医院\麻醉同意书.xml" type="MedicalSystem.Anes.CustomProject.AnesAgreementDoc,MedicalSystem.Anes.CustomProject"/>
    <!--不存在Default0-->
    <add key="会诊记录单" caption="会诊记录单" path="DocTemplate\客户化医院\河南会诊记录单.xml" type="MedicalSystem.Anes.CustomProject.ConsultationRecordDoc,MedicalSystem.Anes.CustomProject"/>
    <!--不存在Default0-->
    <add key="患者交接单" caption="患者交接单" path="DocTemplate\客户化医院\手术患者交接记录单.xml" type="MedicalSystem.Anes.CustomProject.PatientHandoverDoc,MedicalSystem.Anes.CustomProject"/>
    <add key="安全核查单" caption="安全核查单" path="DocTemplate\客户化医院\安全核查表.xml" type="MedicalSystem.Anes.CustomProject.SafetyCheckDoc,MedicalSystem.Anes.CustomProject"/>
    <!--需要补充这个类-->
    <!--<add key="麻醉交班" caption="麻醉交班" path="DocTemplate\客户化医院\麻醉科交班表.xml" type="MedicalSystem.Anes.CustomProject.AnesthesiologyShift,MedicalSystem.Anes.CustomProject"/>-->
    <!--有待确认-->
    <!--<add key="不良事件上报" caption="不良事件上报" path="DocTemplate\客户化医院\不良事件上报.xml" type="MedicalSystem.Anes.CustomProject.BadEventDoc,MedicalSystem.Anes.Custom.CustomProject"/>-->
    <add key="PACU护理记录单" caption="PACU护理记录单" path="DocTemplate\客户化医院\PACU护理记录单.xml" type="MedicalSystem.Anes.CustomProject.PacuNursingDoc,MedicalSystem.Anes.CustomProject"/>
  </medicalDocs>
</medicalDocSetting>

<!--<add key="麻醉单" caption="麻醉记录单" path="DocTemplate\客户化医院\麻醉记录单.xml" type="Medicalsystem.Anes.Custom.CustomProject.AnesDoc,MedicalSystem.Anes.CustomProject"/>
<add key="麻醉总结" caption="麻醉总结" path="DocTemplate\客户化医院\麻醉总结单.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.AnesSumDoc,MedicalSystem.Anes.CustomProject"/>
<add key="病例讨论" caption="术前病例讨论" path="DocTemplate\客户化医院\术前病例讨论.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.DefaultDoc0,MedicalSystem.Anes.CustomProject"/>
<add key="麻醉同意书" caption="麻醉同意书@手术室" path="DocTemplate\客户化医院\河南麻醉同意书.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.DefaultDoc0,MedicalSystem.Anes.CustomProject"/>
<add key="会诊记录单" caption="会诊记录单" path="DocTemplate\客户化医院\河南会诊记录单.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.DefaultDoc0,MedicalSystem.Anes.CustomProject"/>
<add key="患者交接单" caption="患者交接单@手术室" path="DocTemplate\客户化医院\手术患者交接记录单.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.DefaultDoc0,MedicalSystem.Anes.CustomProject"/>
<add key="安全核查单" caption="安全核查单@11" path="DocTemplate\客户化医院\安全核查表.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.DefaultDoc0,MedicalSystem.Anes.CustomProject"/>

<add key="麻醉交班" caption="麻醉交班" path="DocTemplate\客户化医院\麻醉科交班表.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.AnesthesiologyShift,MedicalSystem.Anes.CustomProject"/>-->
<!--<add key="不良事件上报" caption="不良事件上报" path="DocTemplate\客户化医院\不良事件上报.xml" type="Medicalsystem.Anes.Custom.CustomProject.Default.BadEventDoc,Anes.Custom.CustomProject"/>-->



