<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common"/>
  </configSections>
  <connectionStrings>
    <add name="permissionConn" connectionString="Data Source=docare2;Persist Security Info=True;User ID=medcomm;Password=medcomm" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <mdk>
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <!--权限相关的配置, WebApiUri和ConnectionName只要配置一个即可， 当没有配置时读取公共配置appSettings/WebApiUri的值。-->
    <permission WebApiUri="http://127.0.0.1/" ConnectionName="permissionConn" />
  </mdk>
  <appSettings>
    <!--公共的服务端地址-->
    <add key="WebApiUri" value="http://127.0.0.1/"/>
  </appSettings>
</configuration>