<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mdk" type="MedicalSystem.Configurations.MdkSectionHandler, MedicalSystem.Common"/>
  </configSections>
  <connectionStrings>
    <add name="analysisConnString" connectionString="Data Source=Analyser.db3" providerName="System.Data.SQLite" />
  </connectionStrings>
  <mdk>
    <!--麻醉数据库的版本-->
    <dbVersion value="5" />
    <!--秘钥-->
    <secret value="www.medicalsystem.com.cn" />
    <!--是否记录日志，Log4net-->
    <isLogger value="true" />
    <!--邮箱系统设置-->
    <stmp host="localhost" port="25" username="test" password="test" useSsl="false" />
    <!--性能分析-->
    <analysis logCount="true" logExec="true" connString="analysisConnString"/>
    <!--SQL脚本文件文、格式化配置文件-->
    <xmlDict sqlXml="\SQL\Oracle.xml" dataformatXml="\DataFormat.xml"/>
  </mdk>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>