@{
    ViewBag.Title = "Title";
}
<style>
    #test ul{list-style:none;} 
    #test li{float:left; margin-left:20px}
</style>
<div id="test">
    <ul>
        <li>@Html.ActionLink("设置数据源", "trans", "main")</li>
        <li>@Html.ActionLink("设置设置语句", "Index", "Home")</li>
    </ul>

</div>
<div style="clear:both">

</div>